alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.1
DAWG==0.7.8
docutils==0.14
filelock==3.0.9
Flask==1.0.2
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ItsDangerous==1.1.0
Jinja2==2.10
joblib==0.12.5
-e git+https://github.com/adsva/python-wapiti.git@e00d4782759c3fd506886c773fc5bf272919b2d0#egg=libwapiti
lxml==4.2.5
MarkupSafe==1.1.1
more-itertools==4.3.0
multidict==4.4.2
numpy==1.15.2
numpydoc==0.8.0
orderedmultidict==1.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
pyparsing==2.2.2
pytest==3.9.1
pytest-cov==2.6.0
python-crfsuite==0.9.6
pytz==2018.5
requests==2.20.0
requests-file==1.4.3
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn-crfsuite==0.3.6
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
tabulate==0.8.2
tldextract==2.2.0
toml==0.10.0
tox==3.5.2
tqdm==4.27.0
urllib3==1.24
virtualenv==16.0.0
webencodings==0.5.1
webstruct==0.6
Werkzeug==0.15.3
yarl==1.2.6
