
{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% macro render_entities_header() %}
    <div class="container">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Value</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
{% endmacro %}

{% macro render_entities(entities) %}
          {% set type_mapper = {'PER':'person', 'ORG':'organization', 'FUNC':'role', 'TEL':'Phone'} %}
          {% for entity in entities %}
            <tr>
              <td>{{entity[0]}}</td>
              <td>{{type_mapper.get(entity[1], entity[1]).capitalize()}}</td>
            </tr>
          {% endfor %}
{% endmacro %}

{% macro render_entities_footer() %}
          </tbody>
        </table>
    </div>
{% endmacro %}

{% block content %}
    {{render_entities_header()}}
    {{render_entities(entities)}}
    {{render_entities_footer()}}
{% endblock %}
