{% from "entities.html" import render_entities, render_entities_header, render_entities_footer with context %}

{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% macro render_groups_full(groups) %}
    {{render_entities_header()}}
    {% for entities in groups %}
        {% if loop.index != 1 %}
            <tr class="table-secondary"><td></td><td></td></tr>
        {% endif %}
        {{render_entities(entities)}}
    {% endfor %}
    {{render_entities_footer()}}
{% endmacro %}

{% block content %}
    {{render_groups_full(groups)}}
{% endblock %}

